@font-face {
    font-family: 'Overpass';
    src: local('Overpass Black'), local('Overpass-Black'), url('/fonts/Overpass/Overpass-Black.woff2') format('woff2'), 
        url('/fonts/Overpass/Overpass-Black.woff') format('woff'), url('/fonts/Overpass/Overpass-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: local('Overpass Bold'), local('Overpass-Bold'), url('/fonts/Overpass/Overpass-Bold.woff2') format('woff2'),
        url('/fonts/Overpass/Overpass-Bold.woff') format('woff'), url('/fonts/Overpass/Overpass-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: local('Overpass Regular'), local('Overpass-Regular'), url('/fonts/Overpass/Overpass-Regular.woff2') format('woff2'),
        url('/fonts/Overpass/Overpass-Regular.woff') format('woff'), url('/fonts/Overpass/Overpass-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: local('Overpass Light'), local('Overpass-Light'), url('/fonts/Overpass/Overpass-Light.woff2') format('woff2'),
        url('/fonts/Overpass/Overpass-Light.woff') format('woff'), url('/fonts/Overpass/Overpass-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: local('Overpass Italic'), local('Overpass-Italic'), url('/fonts/Overpass/Overpass-Italic.woff2') format('woff2'),
        url('/fonts/Overpass/Overpass-Italic.woff') format('woff'), url('/fonts/Overpass/Overpass-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marck Script';
    src: local('Marck Script'), local('Marck-Script'), url('/fonts/MarckScript/MarckScript-Regular.woff2') format('woff2'),
        url('/fonts/MarckScript/MarckScript-Regular.woff') format('woff'), url('/fonts/MarckScript/MarckScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}